asgiref==3.4.1
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
Click==7.0
conditional==1.3
defusedxml==0.6.0
diff-match-patch==20181111
Django==2.2.7
django-admin-list-filter-dropdown==1.0.3
django-adminactions==1.9
django-appconf==1.0.3
django-bootstrap-modal-forms==2.0.0
django-bootstrap3==12.1.0
django-clone==5.3.1
django-cors-headers==3.10.1
django-crispy-forms==1.9.1
django-debug-toolbar==2.1
django-filter==2.2.0
django-import-export==2.7.1
django-nested-admin==3.3.3
django-select2==7.1.1
django-simple-history==2.8.0
django-static-jquery-ui==1.13.3.1
django-tabbed-admin==1.0.4
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
et-xmlfile==1.0.1
future==0.18.2
idna==2.10
isodate==0.6.0
jdcal==1.4.1
Markdown==3.1.1
MarkupPy==1.14
mod-wsgi==4.9.4
mysql==0.0.3
mysqlclient==2.1.1
numpy==1.19.5
odfpy==1.4.0
openpyxl==3.0.0
pandas==1.1.5
pip-tools==4.3.0
pipdeptree==2.2.1
pyparsing==2.4.5
python-dateutil==2.9.0.post0
python-monkey-business==1.0.0
pytz==2019.3
PyYAML==5.1.2
rdflib==4.2.2
requests==2.24.0
six==1.13.0
soupsieve==2.1
sqlparse==0.3.0
tablib==3.1.0
typing_extensions==4.1.1
urllib3==1.25.10
wikipedia==1.4.0
Wikipedia-API==0.5.4
xlrd==1.2.0
xlwt==1.3.0
