{% extends 'slg/navbar.html' %}
{% block content %}
<ul class="collection">
  <div class="row">
    {% for posts in posts %}
        
  
  
    <div class="col s3">
      <div class="card horizontal small blue-grey darken-1">
        <div class="card-image">
          <img class="responsive-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Wappen_Zisterzienserstift_Heiligenkreuz.svg/800px-Wappen_Zisterzienserstift_Heiligenkreuz.svg.png">
        </div>
        <div class="card-stacked">
          <div class="card-content white-text">
           <span class="card-title">{{posts.name}}</span>
           <p>Anzahl der Objekte: <br>
         Schlagworte: <br>
         zuletzt bearbeit am:
        </p>
           <span class="badge">4</span>
          </div>
          <div class="card-action">
            <a href="#">Münzen</a>
            <a href="#">Homepage des Stifts</a>
          </div>
        </div>
      </div>
    </div>
  
    {% endfor %}
  </div>
</ul>
{% endblock content %}