<!-- objekt_detail_partial.html -->
<div class="coin-details">
    {% if Obj.titel %}
        <h4>{{ Obj.titel }}{% if Obj.dat_verb %}, {{ Obj.dat_verb }}{% endif %}</h4>
    {% endif %}

    {% if Obj.slg %}
        <div class="detail-row">
            <div class="detail-label">Sammlung:</div>
            <div class="detail-value"><a href="/browse/?Slg={{ Obj.slg.id }}" title="Durchsuchen">{{ Obj.slg }}</a></div>
        </div>
    {% endif %}
    <div class="detail-row">
        <div class="detail-label">Inv.-Nr.:</div>
        <div class="detail-value">{{ Obj.invnr }}</div>
    </div>

    <!-- Weitere Details dynamisch einfügen -->
</div>
