{% load static %}
<link rel="preload" href="{% static 'Djangoprojekt/css/aos.css'%}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{% static 'Djangoprojekt/css/style.css'%}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
    <link rel="stylesheet" href="{% static 'Djangoprojekt/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'Djangoprojekt/css/style.css'%}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</noscript>
<link rel="preload" href="{% static 'css/slg-inline.min.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{% static 'css/slg-inline.min.css' %}"></noscript>
